:root {
  --ifm-color-primary: #E53935;
  --ifm-color-primary-dark: #d32f2f;
  --ifm-color-primary-darker: #c62828;
  --ifm-color-primary-darkest: #b71c1c;
  --ifm-color-primary-light: #ef5350;
  --ifm-color-primary-lighter: #e57373;
  --ifm-color-primary-lightest: #ef9a9a;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #26A69A;
  --ifm-color-primary-dark: #00897b;
  --ifm-color-primary-darker: #00796b;
  --ifm-color-primary-darkest: #004d40;
  --ifm-color-primary-light: #4db6ac;
  --ifm-color-primary-lighter: #80cbc4;
  --ifm-color-primary-lightest: #b2dfdb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
